body, html {
  height: 100%;
  width: 100%;
}

.banner{
  background-image: url("../img/danny-howe-gwQAhisLnRA-unsplash.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;

}

img {
  max-width: 500px;
  padding: 10px;
}

.box {
  height:auto;
  width: auto;
  overflow: auto;
  display: flex;
  justify-content: center;
  /* align-items: center;
  text-align: center; */
}

.box2 {
  padding: 20px;
  border: solid black;
  border-width: 20px;
  background-color: rgb(27, 26, 26);
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  height:auto;
}

.column {
  width: 80%;
  float: left;
  position:relative;
  width: auto;
  height:auto;
  overflow: auto;
}

h1{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;
  width: 50%;
  text-align: center;
  color: beige;
  font-size: 40px;
}

p{
  color: aliceblue;
}

ul{
  color: aliceblue;
}

.hype{
  font-size: 20px;
  font-weight:bolder;
}